@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --white: #ffffff;
  --textPrimary: #0d0d46;
  --text-important: #0d0d0d;
  --error: #f93a37;
  --legado-brown: #5a4c40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --textPrimary: #ededed;
    --text-important: #ffffff;
    --error: #f93a37;
    --legado-brown: #5a4c40;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans", Sans-serif;
}
